.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 500px;
    min-width: 500px;
    box-sizing: content-box;
}

.h2 {
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.messages {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* max-height: 70vh; */
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

.message {
    box-sizing: border-box;
    background-color: #1f1f23;
    padding: 1em 1.5em;
    /* max-width: 500px; */
    word-wrap: break-word;
    width: 100%
}

.topic {
    font-weight: 600;
    word-wrap: break-word;
}

.firstMessage {
    animation: newMessage 1s;
}

@keyframes newMessage {
    0% {background-color: #1f1f23;}
    50% {background-color: rgb(136, 136, 47);}
    100% {background-color: #1f1f23;}
}

.partitionKey {
    border-bottom: 1px solid rgb(140, 140, 140);
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.title {
    font-weight: 600;
}
