.main {
    /* display: flex; */
    /* max-height: 90vh; */
    /* position: absolute; */
    display: grid;
    grid-template-areas:
        "addConsumer"
        "consumers";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 1em;
    position: absolute;
}

.addConsumer {
    grid-area: addConsumer;
}

.consumersContainer {
    grid-area: consumers;
    display: flex;
    gap: 1em;
    justify-content: left;
    overflow-x: scroll;
}

.buttonSaveModal {
    position: absolute;
    right: 1em;
    bottom: 1em;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    background-color: #18181b;
}

.buttonSaveModal:hover {
    background-color: #323238;
}

.modal {
    position: absolute;
    background-color: #323238;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.buttonSave {
    font-size: 14px;
    padding: 1em 2em;
}
